/* datepicker-override.css */
.react-datepicker {
  background-color: white !important;
}

.react-datepicker__header {
  background-color: white !important;
}

.react-datepicker__day, 
.react-datepicker__day-name, 
.react-datepicker__current-month,
.react-datepicker__month,
.react-datepicker__month-text,
.react-datepicker__year-text,
.react-datepicker__time-name {
  color: #1f2937 !important;
}

.react-datepicker__day--selected {
  background-color: #8B5CF6 !important;
  color: white !important;
}

.react-datepicker__day--today {
  font-weight: bold !important;
}
